<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Classiclick</h1>
   
    <p>
      Hello, You have successfully created an album.</p>
     <p> You can modify it anytime by edit option.</p>
    
  </body>
</html>
