<!--Bootstrap CSS-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <!--icon-->
  <script src="https://kit.fontawesome.com/9a3f5f7696.js" crossorigin="anonymous"></script>



  <footer class=" fixed-bottom text-center text-lg-start text-light mt-5" style="background-color: #0a4275;">
  <!-- Copyright -->
  <div class="text-center p-3" >
    © 2023 Copyright:
   <b> <%= link_to "Classiclick.com", root_path, class:"text-danger text-decoration-none" %></b>
  </div>
  <!-- Copyright -->
</footer>